<div class="container">

    <a class="btn btn-outline-primary" [routerLink]="['/student-create']">New</a>
    <br />
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>LastName</td>
                    <td>FirstMidName</td>
                    <td>EnrollmentDate</td>
                    <td>FullName</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td>{{  student.ID}}</td>
                    <td>{{  student.LastName}}</td>
                    <td>{{  student.FirstMidName}}</td>
                    <td>{{  student.EnrollmentDate}}</td>
                    <td>{{  student.FullName}}</td>
                    <td>
                        <a class = "btn btn-sm btn-outline-warning"
                            [routerLink]="['/student-edit', student.ID]">Edit</a>
                        <a class = "btn btn-sm btn-outline-danger"
                            [routerLink]="['/student-delete', student.ID]">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
